
@{
    ViewBag.Title = "Create";
}

@if (TempData["Msg"] != null) { 
    <p class="alert alert-danger">@TempData["Msg"]</p>
}

<h2>Create</h2>
<form method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name" />
    <input type="date" name="Dob" class="form-control" placeholder="Dob" />
    <input type="text" name="Cgpa" class="form-control" placeholder="Cgpa" />
    <input type="submit" value="Create" class="btn btn-success" />
</form>

